<% include ./home/header %>

        <!-- Inicio do corpo -->
        <div id="page-wrapper">
                    
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Erro encontrado ;(</h1>
                </div>
            </div>
                

		<p class="text-left">
		    Veja o que aconteceu: 		    
		    <span style="color: red"><%- error.message %> </span>
		    <br/>
		    <center>Que tal voltar para <a href="/home">home page?</a> :) </center>
		 </p>                              

</div>
<!-- Fim do corpo -->
    
<% include ./home/footer %>
