
        <div class="row">
        	<div class="col-lg-12">
				<div align="center">
					<span style="color: #337AB7; size: 9px; padding-bottom: 10px; padding-top: 5px;">Núcleo de Desenvolvimento de Sistemas | <abbr title="Faculdades Integradas de Ourinhos">FIO</abbr> </span>
				</div>
			</div>
		</div>	

	<script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/bower_components/metisMenu/dist/metisMenu.min.js"></script>
    <script src="/bower_components/raphael/raphael-min.js"></script>
    <script src="/bower_components/morrisjs/morris.min.js"></script>
    <script src="/bower_components/js/morris-data.js"></script>
    <script src="/bower_components/dist/js/sb-admin-2.js"></script>
    <script src="/javascripts/common.js"></script>
    

</body>

</html>
