<% include ./header %>
        <!-- Inicio do corpo -->
        <div id="page-wrapper">           
    <br/>
	
    <!-- Carousel -->
	
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
        <a href="http://fio.edu.br/site2013/index.php/pt/graduacao/farmacia" target="_blank">
            <img class="first-slide" src="/images/rotativo/farmacia.jpg" alt="Farmácia" width="100%" >
          </a>
        </div>
        <div class="item">
        <a href="http://fio.edu.br/site2013/index.php/pt/graduacao/sistemas-de-informacao" target="_blank">
          <img class="second-slide" src="/images/rotativo/bsi.jpg" alt="Sistemas de informação" width="100%">
        </a>
        </div>
        <div class="item">
        <a href="http://fio.edu.br/site2013/index.php/pt/graduacao/enfermagem" target="_blank">
          <img class="third-slide" src="/images/rotativo/enfermagem.jpg" alt="Enfermagem" width="100%" >
        </a>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <!-- /.carousel -->
    <br/>

    <!-- Marketing -->

	<div class="row">

	  <div class="col-lg-4">
	    <div class="thumbnail">
	      <img src="/images/rotativo/bsi.jpg" alt="...">
	      <div class="caption">
	        <h3>Sistemas de informação</h3>
	        <p>O curso de Bacharelado de Sistemas de Informação das Faculdades Integradas de Ourinhos visa contribuir com a formação de Recursos para o desenvolvimento científico e tecnológico na área da computação.</p>
	        <p><a href="http://fio.edu.br/site2013/index.php/pt/graduacao/sistemas-de-informacao" target="_blank" class="btn btn-primary" role="button">Continuar lendo</a></p>
	      </div>
	    </div>
	  </div>

	  <div class="col-lg-4">
	    <div class="thumbnail">
	      <img src="/images/rotativo/enfermagem.jpg" alt="...">
	      <div class="caption">
	        <h3>Enfermagem</h3>
	        <p>A profissão de enfermagem encontra-se em franca expansão no Brasil, norteada pelos aspectos éticos e legais nos quais se apóiam outras profissões da área da saúde.</p>
	        <p><a href="http://fio.edu.br/site2013/index.php/pt/graduacao/enfermagem" target="_blank" class="btn btn-primary" role="button">Continuar lendo</a></p>
	      </div>
	    </div>
	  </div>

	  <div class="col-lg-4">
	    <div class="thumbnail">
	      <img src="/images/rotativo/farmacia.jpg" alt="...">
	      <div class="caption">
	        <h3>Farmácia</h3>
	        <p>O Profissional formado nas FIO, deverá possuir uma formação generalista com competências e habilidades técnico-científica, ética e humanística, apto a desenvolver ações de prevenção, promoção, proteção e reabilitação da saúde, tanto em nível individual quanto coletivo.</p>
	        <p><a href="http://fio.edu.br/site2013/index.php/pt/graduacao/farmacia" target="_blank" class="btn btn-primary" role="button">continuar lendo</a></p>
	      </div>
	    </div>
	  </div>

	</div>

 </div>
</div>
<!-- Fim do corpo -->

<% include ./footer %>